* { box-sizing: border-box; }
#wrapper {
    background-color: #0000CD;
    min-width: 900px;
    max-width: 1280px;
    padding: 0;
    margin: 0 auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
header {
    background-image: url('coffeelogo.jpg');
    background-repeat: no-repeat;
    background-color: #FF0000;
    color: #0000CD;
    padding: 5px 0 5px 240px;
}
#homehero, #heromugs, #heroguitar {
    height: 300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#homehero { background-image: url('Covers.jpg'); }
#heromugs { background-image: url('Marvel.jpg'); }
#heroguitar { background-image: url('DCUniverse.jpg'); }

main {
    background-color: #FFFFFF;
    margin-left: 200px;
    padding: 0;
    overflow: auto;
}

main h2, main h3, main h4, main p, main div, main ul, main dl {
    padding-left: 3em;
    padding-right: 2em;
}
nav {
    width: 200px;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.5em;
}

nav a:link { color: #FFFFFF; text-decoration: none; }
nav a:visited { color: #FF0000; }
nav a:hover { color: #87CEEB; }

nav ul {
    list-style-type: none;
    padding-left: 0;
}
footer {
    background-color: #FF0000;
    padding: 1em;
    border-top: 2px solid #FF0000;
    text-align: center;
    font-style: italic;
    font-size: 0.8em;
}
h4 {
    background-color: #FF0000;
    font-size: 1.2em;
    padding-left: 0.5em;
    text-transform: uppercase;
    border-bottom: 2px solid #FF0000;
    clear: left;
    padding-bottom: 0;
}

.floatleft {
    float: left;
    padding-right: 2em;
    padding-bottom: 2em;
}

.details {
    overflow: auto;
    padding-left: 20%;
    padding-right: 20%;
}

.onethird {
    float: left;
    width: 33%;
}
header a:link, header a:visited {
    text-decoration: none;
    color: #0000CD;
}
header a:hover {
    color: #FFFFFF;
}
form {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    width: 80%;
}

input, textarea {
    margin-bottom: 0.5em;
}